*{
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

ol, ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	 /*           font-family: 'Open Sans', sans-serif;
				  font-family: 'Oswald', sans-serif;            */
}


.common_heading{
	text-align: center;
	margin: 60px 0 40px;
}

.common_heading h4{
	font-size: 24px;
	font-family: 'Oswald', sans-serif;  
	font-weight: 500;
	text-transform: uppercase;
	position: relative;

}

.common_heading h4:after {
    position: absolute;
    top: 99%;
    left: 46.30%;
    width: 47px;
    height: 3px;
    content: "";
    background-color: #0872be;
}

.common_heading h4:before {
    position: absolute;
    top: 99%;
    left: 50.3%;
    width: 5px;
    height: 3px;
    content: "";
    background-color: #0872be;
}

.common_heading h4 span:before {
    position: absolute;
    top: 99%;
    left: 50.7%;
    width: 3px;
    height: 3px;
    content: "";
    background-color: #0872be;
}

.common_heading h4 span:after {
    position: absolute;
    top: 99%;
    left: 51.3%;
    width: 4px;
    height: 3px;
    content: "";
    background-color: #0872be;
}

.about_content{
	margin-top: 40px;
}

.about_content p{
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	line-height: 26px;
}



/*servcices part css start*/

.service_main{
	position: relative;
}


 .service_icon_main{
 	width: 80px;
 	height: 80px;
 	background-color: #f1f1f1;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	border-radius: 50%;
 	border: 2px solid #fff;
 	position: absolute;
 	top: -26%;
    left: 41%;
    transition:  all linear .3s;

 }
 .service_icon{
 	width: 70px;
 	height: 70px;
 	border: 2px solid #fff;
 	border-radius: 50%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition:  all linear .3s;

 }

 .service_content {
    text-align: center;
    background-color: #f1f1f1;
    padding: 50px 30px 30px;
    margin-top: 40px;
    transition:  all linear .3s;
}

.service_main:hover .service_icon_main{
	background-color: #5bc5f4;
	transition:  all linear .3s;
}

.service_main:hover .service_content{
	box-shadow: 1px 1px 8px gray;
	transition:  all linear .3s;
}

 .service_content h4{
 	font-size: 16px;
	font-family: 'Oswald', sans-serif;  
	font-weight: 500;
	text-transform: uppercase;
 }

  .service_content p{
 	font-size: 13px;
	font-family: 'Open Sans', sans-serif;  
	line-height: 27px;
 }
/*servcices part css end*/