h2{
    color: indigo;

}

h2:hover{
    color: magenta;
    font-size: larger;
    background-color: mediumspringgreen;
}



    
}

.first-line::first-line{
    color: royalblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
.paragraph1{
    width: 30%;
    height: 50%;
}

.paragraph2:hover{
    background-color: blue;
    color: chartreuse;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input:focus{
    font-size: x-large;
    color: darkblue;
}

.img1:hover{
    width: 130%;
    color: darkkhaki;
    

}

img{
    width: 100%;
}

.paragraph3::first-letter{
    color: darkmagenta;
    font-size: 25px;
    transform-box:initial;

    font-family: fantasy;

}

.li:nth-child(nt2){
    color: darkviolet;
    background-color: gold;
}

.pseduo-element h2::before{
    content: "Country:";
    color: white;
    background-color: deepskyblue;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;


}

.pseduo-element h2::after{
    content: "Yes";
    color: white;
    background-color: darkblue;
    padding: 7px;
    font-size: 15px;
    font-family:cursive;
    


}

nav li{
    list-style: none;
    float:left;
    padding-left: 10px;
    font-size: 20px;
    padding: 20px 10px;
   

    
    
}

nav a{
    
    text-decoration: none;
    color: black;
   


}

nav{
    background-color: lavender;
    height: 50px;
   
}

nav li:hover{
    background-color: greenyellow;
}